@model MVC_Razor_EF.Models.Alumnos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h4>Alumnos</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <strong><label for="id">ID</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @disabled="true" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="nom">Nombre</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control",@id = "nom" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="ap">Primer Apellido</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.primerApellido, new { htmlAttributes = new { @class = "form-control", @id = "ap" } })
            @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="am">Segundo Apellido</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.segundoaPellido, new { htmlAttributes = new { @class = "form-control", @id = "am" } })
            @Html.ValidationMessageFor(model => model.segundoaPellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="cor">Correo</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @id = "cor" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="tel">Telefono</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @id = "tel" } })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="fn">Fecha de Nacimiento</label></strong>
        <div class="col-md-10">
            <input type="date" class="form-control" id="fn" name="fechaNacimiento" value=@Model.fechaNacimiento.ToString("yyyy-MM-dd") >
            @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="curp">CURP</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.curp, new { htmlAttributes = new { @class = "form-control", @id = "curp" } })
            @Html.ValidationMessageFor(model => model.curp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="sueldo">Sueldo</label></strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.sueldo, new { htmlAttributes = new { @class = "form-control", @id = "sueldo" } })
            @Html.ValidationMessageFor(model => model.sueldo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="est">Estado</label></strong>
        <div class="col-md-10">
            @Html.DropDownList("idEstadoOrigen", new SelectList(ViewBag.Estados, "id", "nombre"), htmlAttributes: new { @class = "form-control", @id = "est" })
            @Html.ValidationMessageFor(model => model.idEstadoOrigen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong><label for="ea">Estatus</label></strong>
        <div class="col-md-10">
            @Html.DropDownList("idEstatus", new SelectList(ViewBag.Estatus, "id", "nombre"), htmlAttributes: new { @class = "form-control", @id = "ea" })
            @Html.ValidationMessageFor(model => model.idEstatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index",null, htmlAttributes: new {@class="btn btn-link"})
</div>
