@model Negocio.srWCFAlumno.ItemTablaISR

<div>
    <dl class="dl-horizontal">
        <dt>
            <label>Limite Inferior</label>
        </dt>

        <dd>
            @Model.LimiteInferior.ToString("C")
        </dd>

        <dt>
            <label>Limite Superior</label>
        </dt>

        <dd>
            @Model.LimiteSuperior.ToString("C")
        </dd>

        <dt>
            <label>Cuota Fija</label>
        </dt>

        <dd>
            @Model.CuotaFija.ToString("C")
        </dd>

        <dt>
            Excedente Limite Inferior
        </dt>

        <dd>
            @Model.Excedente.ToString("C")
        </dd>

        <dt>
            <label>Subsidio</label>
        </dt>

        <dd>
            @Model.Subsidio.ToString("C")
        </dd>

        <dt>
            <label>Impuesto</label>
        </dt>

        <dd>
            @Model.ISR.ToString("C")
        </dd>
    </dl>
</div>

@Scripts.Render("~/bundles/tichajax")
