@model Entidades.Alumnos
@using System.Globalization

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Alumno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    ID
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.id)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Nombre
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Primer Apellido
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.primerApellido)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Segundo Apellido
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.segundoaPellido)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Correo
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    <a href="mailto:@Model.correo" class="correo-enlace">@Model.correo</a>
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Telefono
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.telefono)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Fecha de Nacimiento
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Model.fechaNacimiento.ToString("yyyy-MM-dd")
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    CURP
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.curp)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Sueldo
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @{
                        var formattedSueldo = string.Format("{0:C}", Model.sueldo);
                    }
                    @Html.DisplayFor(model => formattedSueldo)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Estado
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.Estados.nombre)
                </dd>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-end">
                <dt>
                    Estatus
                </dt>
            </div>
            <div class="col-sm-3">
                <dd>
                    @Html.DisplayFor(model => model.EstatusAlumnos.nombre)
                </dd>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-2 d-flex justify-content-center">
                <button type="button" class="btn btn-primary">Calcular IMSS</button>
            </div>
            <div class="col-sm-3">
                <dd>
                    <button type="button" class="btn btn-light">Calcular ISR</button>
                </dd>
            </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Regresar a la Lista", "Index", null, htmlAttributes: new { @class = "btn btn-link text-decoration-none" })
</p>

<style>
    .correo-enlace {
        color: black;
        text-decoration: none;
    }
</style>

